detection/checkpoint.pth filter=lfs diff=lfs merge=lfs -text
models/frozen_east_text_detection.pb filter=lfs diff=lfs merge=lfs -text
trocr-finetuned/model.safetensors filter=lfs diff=lfs merge=lfs -text
